@inherits LayoutComponentBase

<header>
    <img  class="header-image" src="./img/sarcasm-face.png" alt="Sarcastic Face">
    <div class="header-container">
        <h1>Sarcasm Formatter</h1>
    </div>
</header>
<main>
    @Body
</main>
